body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	font-size: 14px;
	color: #777;
	background-color: #0a0a0a;
	text-align: center;
}

a {
	color: #08a;
	text-decoration: none;
}

.container {
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

/* Navbar - Start */

#brand {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.70), 0 0 30px rgba(255, 255, 255, .65);
	margin-left: 20px;
	padding: 10px 0 10px 0;
	float: right;
}

nav {
	line-height: 20px;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1030;
	min-height: 40px;
	border-bottom: 1px solid #252525;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
	background-image: -webkit-linear-gradient(top, #222, #111);
	background-image: linear-gradient(to bottom, rgb(34, 34, 34), rgb(17, 17, 17));
}

#navbar {
	list-style: none;
	position: relative;
	left: 0;
	padding: 0;
	margin: 0 10px 0 0;
}

nav #navbar > li {
	float: left;
}

nav #navbar > li > a {
	font-size: 13px;
	color: #999;
	padding: 10px 15px 10px;
	text-decoration: none;
	display: block;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

nav #navbar > .active > a {
	color: #fff;
	background-color: #111;
}

nav #navbar > li > a:hover {
	color: #fff;
}

/* Navbar - End */

/* Banner - Start */

.masthead {
	padding: 80px 0px 40px;
}

.banner {
	height: 300px;
	border-top: 1px solid #16909C;
	border-bottom: 1px solid #000;
	box-shadow: 0 -3px 50px rgba(0, 200, 255, 0.40);
	background-repeat: no-repeat;
	background-position: center;
	background-image: -webkit-linear-gradient(top, #137781, #116A73);
	background-image: linear-gradient(to bottom, #137781, #116A73);
	background-color: #137781;
	overflow:hidden;
}

.banner > h1 {
	font-weight: bold;
	color: #fff;
	font-size: 70px;
	text-shadow: 0 0 20px rgba(255, 255, 255, 0.40), 0 1px 0 #036;
	margin-top: 40px;
	margin-bottom: 10px;
}

.banner > p {
	color: #fff;
	font-size: 20px;
	text-shadow: 0 1px 0 #333;
}

.banner > .sns {
	padding: 0;
	list-style: none;
	text-align: center;
}

.banner > .sns > li {
	padding: 7px 10px;
	display: inline-block;
}

.banner > .sns > li img {
	width: 35px;
	height: 35px;
	vertical-align: top;
	box-shadow: 0 1px 0 #222;
	border-radius: 5px;
}

.banner > .sns > li img:hover {
	box-shadow: none;
	border-radius: 5px;
}

/* Banner - End */

/* Content - Start */

.content {
	color: #B5B5B5;
	border-top: 1px solid #222;
	background-color: #131313;
	-webkit-box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
	padding-top: 40px;
	padding-bottom: 20px;
	display: block;
	overflow: hidden;
}

.content img {
	margin: 30px auto 30px;
	display: block;
}

.content h1 {
	color: #B9B9B9;
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 50px;
}

.content h2 {
	font-size: 31px;
	font-weight: 200;
	margin: 10px;
}

.content p {
	font-size: 16px;
	line-height: 24px;
	margin: 10px;
}

.content .subtitle {
	color: #989898;
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 40px;
}

.row {
	width: 100%;
	overflow: hidden;
	display: block;
	margin-bottom: 30px;
}

.row [class*="span"]:first-child{
	margin-left: 0;
}

.span3, .span4 {
	margin-left: 30px;
	padding-bottom: 20px;
	float: left;
	border-radius: 10px;
	background-color: #101010;
}

.span3 {
	width: 270px;
}

.span4 {
	width: 370px;
}

/* Content - End */

/* Footer - Start */

footer {
	padding: 50px 0;
	line-height: 20px;
	border-top: 1px solid #191919;
	background-color: #000;
	box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.6);
	background-image: -webkit-linear-gradient(top, #050505, #000);
	background-image: linear-gradient(to bottom, #050505, #000);
	overflow: hidden;
	clear: both;
}


footer p {
	margin: 0;
	text-align: left;
}

footer .backtop {
	float: right;
}

/* Footer - End */

/* Page - title */

.pagetitle {
	background-color: #137781;
	background-image: -webkit-linear-gradient(top, #137781, #116A73);
	background-image: linear-gradient(to bottom, #137781, #116A73);
	box-shadow: 0 -3px 50px rgba(0, 200, 255, 0.40);
	border-top: 1px solid #16909C;
	border-bottom: 1px solid #000;
	margin-top: 40px;
	margin: 40px 0 50px;
	overflow: hidden;
}

.pagetitle h1 {
	margin: 20px 0;
	font-weight: bold;
	color: #fff;
	font-size: 70px;
	text-shadow: 0 0 20px rgba(255, 255, 255, 0.40), 0 1px 0 #036;
}

.buy {
	background-color: #137781;
	background-image: -webkit-linear-gradient(top, #137781, #116A73);
	background-image: linear-gradient(to bottom, #137781, #116A73);
	box-shadow: 0 -1px 15px rgba(0, 200, 255, 0.40);
	color: #fff;
	width: 200px;
	margin: 20px auto 10px auto;
	padding: 10px 20px;
	text-shadow: 0 0 15px rgba(255, 255, 255, 0.40), 0 1px 0 #036;
	border-top: 1px solid #16909C;
	border-bottom: 1px solid #000;
	font-weight: bold;
	display: block;
}

.buy:hover {
	background-color: #137781;
	background-image: -webkit-linear-gradient(top, #116A73, #095e68);
	background-image: linear-gradient(to bottom, #116A73, #095e68);
	box-shadow: 0 -1px 15px rgba(0, 200, 255, 0.40);
	color: #fff;
	width: 200px;
	margin: 20px auto 10px auto;
	padding: 10px 20px;
	text-shadow: 0 0 15px rgba(255, 255, 255, 0.60), 0 1px 0 #036;
	border-top: 1px solid #16909C;
	border-bottom: 1px solid #000;
	font-weight: bold;
	display: block;
}
