body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	font-size: 13px;
	color: #777;
	background-color: #000;
}

.container {
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

/* Navbar - Start */

.brand {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 1), 0 0 30px rgba(255, 255, 255, .625);
	margin-left: 20px;
	padding: 10px 0 10px 0;
	float: right;
}

nav {
	line-height: 20px;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1030;
	min-height: 40px;
	border-bottom: 1px solid #252525;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
	background-image: -webkit-linear-gradient(top, #222, #111);
	background-image: linear-gradient(to bottom, rgb(34, 34, 34), rgb(17, 17, 17));
}

.navbar {
	list-style: none;
	position: relative;
	left: 0;
	padding: 0;
	margin: 0 10px 0 0;
}

nav .navbar > li {
	float: left;
}

nav .navbar > li > a {
	font-size: 13px;
	color: #999;
	padding: 10px 15px 10px;
	text-decoration: none;
	display: block;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

nav .navbar > .active > a {
	color: #fff;
	background-color: #111;
}

nav .navbar > li > a:hover {
	color: #fff;
}

/* Navbar - End */